In [1]:
from typing import Dict

drones_setting = fix_drones_settings({})

In [ ]:
import pandas as pd
import re
import numpy as np 
from collections import Counter

In [8]:
!pip install Arabic-Stopwords

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting Arabic-Stopwords
  Downloading Arabic_Stopwords-0.3-py3-none-any.whl (353 kB)
     |████████████████████████████████| 353 kB 41.4 MB/s
Collecting pyarabic>=0.6.2
  Downloading PyArabic-0.6.15-py3-none-any.whl (126 kB)
     |████████████████████████████████| 126 kB 96.0 MB/s
Requirement already satisfied: six>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from pyarabic>=0.6.2->Arabic-Stopwords) (1.15.0)
Installing collected packages: pyarabic, Arabic-Stopwords
Successfully installed Arabic-Stopwords-0.3 pyarabic-0.6.15

In [9]:
import arabicstopwords.arabicstopwords as stp

In [3]:
df = pd.read_excel('/content/Per-job.xlsx')
df.head()

   نمط الشخصية                                              العمل
0         ESFJ  مندوب مبيعات -عامل رعاية صحية -عامل اجتماعي تن...
1         ESTJ  وكيل مبيعات التأمين -صيدلاني -محامي - قاضي -مد...
2         ESFP  مستشار رعاية الطفل -الممثل -عالم بيئي -مصمم داخلي
3         ENTP  ريادي -مطور عقارات -مدير إبداعي للدعاية والإعل...
4         ESTP    مصرفي -محقق -المستثمر -وكيل الترفيه -مدرب رياضي

In [6]:
df['العمل']

0     مندوب مبيعات -عامل رعاية صحية -عامل اجتماعي تن...
1     وكيل مبيعات التأمين -صيدلاني -محامي - قاضي -مد...
2     مستشار رعاية الطفل -الممثل -عالم بيئي -مصمم داخلي
3     ريادي -مطور عقارات -مدير إبداعي للدعاية والإعل...
4       مصرفي -محقق -المستثمر -وكيل الترفيه -مدرب رياضي
5         تنفيذي -محامي - محلل بحوث السوق -مستشار إداري
6     مبرمج حاسوب- مصمم برمجيات -محلل مالي- معماري- ...
7                   صحفي - منظم احداث - مدير مطعم -مخرج
8     إعلان تنفيذي -  مدرب للشركات -  متخصص موارد بش...
9     مهندس مدني - اقتصادي - طيار - محلل بيانات التو...
10    مدقق حسابات -محاسب -المدير المالي- مهندس برمجي...
11    طبيب اسنان - مكتبي - معلم بمدرسة - ممثل خدمة ا...
12    مصرفي استثماري -مستشار مالي شخصي -تنفيذي- مطور...
13    مصمم ازياء - معالج فيزيائي - مهندس المناظر الط...
14    معالج فيزيائي - مدير موارد بشرية - مصمم واجهات...
15    معالج فيزيائي - مدير موارد بشرية - موظف شؤون ا...
Name: العمل, dtype: object

In [5]:
tweets = pd.read_csv('train.txt', delimiter=',')
tweets.head()

  personality      username                                              tweet
0        ESFJ     rubie2113  T 2228-اليوم: مي فقدت تشيلسي فقدت نصي القراءة ...
1        ESTJ       PixieEj  #Anastasia الموسيقية وتهدف إلى برودواي القادم ...
2        ISTJ      GemORdie  كولكارني حصلت الضربات مع الكرة ويحصل الآن أربع...
3        ESFP  AlnasserEnad  زمبابوي: "سنغافورة خيار" في النية https://t.co...
4        ISFJ   BunchDevJay  6 الدروس باتنجالي يعلم سلع استهلاكية القطاع ht...

In [12]:
df['العمل'] = df['العمل'].apply(lambda x: np.random.choice(x.split()))

In [13]:
tweets['job'] = df['العمل']

In [14]:
df = tweets

In [15]:
# clean the text 
def clean_text(tweet):
    tweet = re.sub(r"([@A-Za-z0-9_ـــــــــــــ]+)|[^\w\s]|#|http\S+", " ", tweet)
    tweet = " ".join([word for word in tweet.split() if not stp.is_stop(u"{}".format(word))])
    return tweet

In [16]:
df['clean_tweet'] = df['tweet'].apply(clean_text)

In [17]:
df.head()

,personality,username,tweet,job,clean_tweet
0,ESFJ,rubie2113,T 2228-اليوم: مي فقدت تشيلسي فقدت نصي القراءة ...,تنفيذي,اليوم مي فقدت تشيلسي فقدت نصي القراءة المفقودة...
1,ESTJ,PixieEj,#Anastasia الموسيقية وتهدف إلى برودواي القادم ...,-محامي,الموسيقية وتهدف برودواي القادم موسم
2,ISTJ,GemORdie,كولكارني حصلت الضربات مع الكرة ويحصل الآن أربع...,-عالم,كولكارني حصلت الضربات الكرة ويحصل أربعة المبار...
3,ESFP,AlnasserEnad,"زمبابوي: ""سنغافورة خيار"" في النية https://t.co...",-سياسي,زمبابوي سنغافورة خيار النية الولادة تعطي كشف م...
4,ISFJ,BunchDevJay,6 الدروس باتنجالي يعلم سلع استهلاكية القطاع ht...,رياضي,الدروس باتنجالي يعلم سلع استهلاكية القطاع للهند

In [ ]:
df['personalitiy'].value_counts()

In [18]:
all_tweets = df['clean_tweet'].tolist()
all_tweets = " ".join(all_tweets)

In [19]:
words = all_tweets.split()
  
Counter = Counter(words)
  
most_occur = Counter.most_common(10)
  
print(most_occur)

[('يمكن', 1486), ('لوس', 1134), ('اليوم', 1013), ('أنجليس', 966), ('الخاص', 965), ('شكرا', 864), ('مشاهدة', 820), ('كنت', 773), ('جديدة', 770), ('يوم', 748)]